# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/
.pytest_cache/
.ruff_cache/

# Node
node_modules/
dist/
.vite/

# Entorno
.env
*.env.local

# Credenciales
credenciales.md

# Docker volumes
postgres_data/
redis_data/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

env.txt